{% extends 'base.html.twig' %}

{% block title %} Book Store {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block body %}
    {% if childrenbooks %}
        <h5 class="card-text category">Chidren Books</h5>
        {% for book in childrenbooks %}
        <div class="col-lg-3 book-card">
            <div class="bs-component">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">{{ book.title|length > 30 ? book.title|slice(0, 30) ~ '...' : book.title }}</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Book category : {{ book.category }}</h6>
                        <p class="card-text text-limit">{{ book.description|length > 200 ? book.description|slice(0, 200) ~ '...' : book.description  }}</p>
                        <img style="height: 200px; width: 100%; display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22318%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20318%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_158bd1d28ef%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A16pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_158bd1d28ef%22%3E%3Crect%20width%3D%22318%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22129.359375%22%20y%3D%2297.35%22%3EImage%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Card image">
                        <a href="{{ path('cart_add',{'id': book.id }) }}" class="btn btn-outline-success btn-cart">Add to cart</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

    {% else %}
        <p>No children books found</p>
    {% endif %}


    {% if fictionbooks %}
        <h5 class="card-text category">Fiction Books</h5>
        {% for book in fictionbooks %}
        <div class="col-lg-3 book-card">
            <div class="bs-component">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">{{ book.title|length > 30 ? book.title|slice(0, 30) ~ '...' : book.title }}</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Book category : {{ book.category }}</h6>
                        <p class="card-text text-limit">{{ book.description|length > 200 ? book.description|slice(0, 200) ~ '...' : book.description  }}</p>
                        <img style="height: 200px; width: 100%; display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22318%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20318%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_158bd1d28ef%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A16pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_158bd1d28ef%22%3E%3Crect%20width%3D%22318%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22129.359375%22%20y%3D%2297.35%22%3EImage%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Card image">
                        <a href="{{ path('cart_add',{'id': book.id }) }}" class="btn btn-outline-success btn-cart">Add to cart</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

    {% else %}
        <p>No fiction books found</p>
    {% endif %}
{% endblock %}
